<div class="container main-container">
    <div class="burger-container">
        
        <img src="assets/img/Burger.jpg" alt="Burger">
        
    </div>
    <div class="row">
        <div class="col-md-12 text-center" id="top-bar" style="padding: 8px">
            <h1>Eat Me, I'm a Burger!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center" class="task">
            <div class="row" >
                {{#each burger_data}}
                    {{#unless this.devoured}}
                <div class="col-md-6 text-center"  >
                    {{this.id}}. {{this.burger_name}}
                </div>
            <div class="col-md-6 text-center">
                <form method="POST" action="/burgers/update?_method=POST" class="btn btn-primary" >
                    <input type="hidden" name="burger_id" type="text"
                    value={{this.id}}>
                    <button type="submit" class="btn btn-default">
                        DEVOUR IT!
                    </button>                
                </form>
            </div>
            {{/unless}}
            {{/each}}
            </div>
        </div>

        <div class="col-md-6 text-center" class="task">
            {{#each burger_data}}
                {{#if this.devoured}}
                <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div class="container form">
    <div class="row">
        <div class="col-md-12 text-center enter_section">
            <h5>Enter in a Burger you would like to eat!</h5>
            <form action="/burgers/create" method="POST">
                <input type="text" name="burger_name" class="form-control"
                value="" id="enter_text">
                <button type="submit" class="btn btn-primary" id="text-enter-button">SUBMIT</button>
            </form>
        </div>
    </div>
</div>
<style>
    .burger-container{
        max-width: 250px;
        margin: auto
    }
    img{
        width: 100%
    }
    .main-container, .form{
        background: white;
        padding: 9px;
        
    }
    
    
    body{
        font-family: 'Source Sans Pro', sans-serif;;
    }
    
</style>